:root {
  --back-color: #f3f7fa;
  --text-color: #4a4a4a;
  --text-bright-color: #a0b0b9;
  --back-color-card: #ffffff;

  --checkbox-border-color: #9abbce;
  --checkbox-back-color: #f1fcff;
  --check-color: #2196f3;
  --border-color: #dfe5ec;
}
